body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url(rere.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;

}

.loginForm {

    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgb(252, 252, 252);
   
    width: 300px;
}

h2 {
    margin-bottom: 20px;
    text-align: center;
    color: #ccc;
}

label {
    display: block;
    margin-bottom: 8px;
    color: #ffffff;
}

input {
    width: calc(100% - 20px);
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ffffff;
    border-radius: 4px;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #463d02;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    
}

button:hover {
    background-color: #152300;
}

